/.DS_Store
/.localized
/Bildschirmfoto 2026-03-10 um 19.32.06.png
/Glücksgefühle 2025
/IMG_6984.JPG
/Persönliches
/Schreiben_BAföG.pdf
/Studium
/index.html
/~$IB_Protokolle.docx
/~$eckbrief_Selbstlernmodul_Photoshop_WiSe_2023_24.docx
/~$eckbrief__UKT_InDesign_WiSe_23_24.docx